# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment & Databases
.env
*.db
*.sqlite
*.sqlite3

# Node dependencies
node_modules/
npm-debug.log*

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
